/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* BODY */
body {
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

nav h2 {
  color: #38bdf8;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.hero span {
  color: #38bdf8;
}

.hero button {
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* SECTIONS */
section {
  padding: 60px 20px;
  text-align: center;
}

/* SKILLS */
.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  padding: 20px;
  width: 120px;
  border-radius: 15px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
  background: #38bdf8;
  color: black;
}

/* PROJECTS */
.project-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

/* CONTACT */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* ANIMATIONS */
.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}